name: "npm public"

on:
    push:
        branches: 
           - master

jobs:
    release:
        name: publish
        runs-on: ubuntu-latest
        steps:
            - name: checkout
              uses: actions/checkout@v1
            - name: node
              uses: actions/setup-node@v1
              with:
                  node-version: 12.x
                  registry-url: https://registry.npmjs.org
            - name: publish
              run: npm publish --access public
              working-directory: npmtest
              env:
                  NODE_AUTH_TOKEN: ${{secrets.NPM_AUTH_TOKEN}}
